<div class="col-md-12 video-container">
  <iframe
    id="video"
    class="video-frame"
    src=""
    frameborder="0"
    allowfullscreen
  ></iframe>
</div>

            <!-- 1024 x 576 -->
            <!-- 768 x 432  -->
            <!-- 420 x 315 -->