<div>
    <div class="row text-center">
        <div class="col-md-12 p-5">
            <div class="container">
                <input type="text" class="form-control mb-2" id="search" />
                <input
                onclick="fetch()"
                type="button"
                class="btn btn-primary"
                value="Search"
                />
                <input
                type="button"
                class="btn btn-secondary"
                value="Generate Random"
                />
            </div>
        </div>
    </div>
    <div class="row flex-column">
        {{>mainVideo}}
        {{#each subVideos as |subVideo|}}
        {{>subVideo}}
        {{/each}}
    </div>
</div>